BlidingGambs/Temp/
BlidingGambs/Library/
BlidingGambs/.vs/BlidingGambs/v15/Server/sqlite3/db.lock
BlidingGambs/.vs/BlidingGambs/v15/Server/sqlite3/storage.ide
BlidingGambs/.vs/BlidingGambs/v15/Server/sqlite3/storage.ide-shm
BlidingGambs/.vs/BlidingGambs/v15/Server/sqlite3/storage.ide-wal
BlidingGambs/.vs/BlidingGambs/v15/.suo
BlidingGambs/.vs/TestAudioTones/v15/Server/sqlite3/storage.ide
BlidingGambs/.vs/TestAudioTones/v15/Server/sqlite3/storage.ide-shm
BlidingGambs/.vs/TestAudioTones/v15/Server/sqlite3/storage.ide-wal
